.cart-section {
    padding: 30px 0px !important;
}
.mission-vision {
    padding: 52px 0px 0px !important;
}
.news-block .inner-box .date{
    top: -13px !important;
}

.main-footer .news-widget .news-post{
	position:relative;
	padding-left:0px!important;
	min-height:70px;
	margin-bottom:25px;	
}
.causes-section {
	padding: 121px 0px 0px 0px !important;
}
.parallax {
	position: fixed;
}

.event-block-two .title-column .inner{
	position:relative;
	display:block;
	padding-left:0px;
	padding-top:0px;
	min-height:160px;
}

.upcoming-events {
    position: relative;
    padding: 71px 0px;
    background-color: #edf1f5;
    overflow: hidden;
}
