.cart-section {
    padding: 30px 0px !important;
}
.mission-vision {
    padding: 52px 0px 0px !important;
}
.news-block .inner-box .date{
    top: -13px !important;
}

.main-footer .news-widget .news-post{
	position:relative;
	padding-left:0px!important;
	min-height:70px;
	margin-bottom:25px;	
}
.causes-section {
	padding: 121px 0px 0px 0px !important;
}
.parallax {
	position: fixed;
}

.event-block-two .title-column .inner{
	position:relative;
	display:block;
	padding-left:0px;
	padding-top:0px;
	min-height:160px;
}

.upcoming-events {
    position: relative;
    padding: 71px 0px;
    background-color: #edf1f5;
    overflow: hidden;
}

.event-block-two .title-column h3 a {
    color: #3cc88f!important;
	cursor: alias !important ;
}
.event-block-two .title-column h3 {
    font-size: 24px;
    color: #3cc88f!important;
    line-height: 1.2em;
}

/*Accordion links in footer*/
.accordions {
    border-radius: 8px;
    overflow: hidden;
    font-size: 1.2em;
}

.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
}

.acc-label {
    /* display: flex; */
    /* justify-content: space-between; */
    padding-bottom: 10px;
	font-size: 16px;
    background-color: #1e213600;
    font-weight: 500;
    cursor: pointer;
}

/* .accordion:first-child {
    border-bottom: 1px solid;
} */

.acc-label:hover {
    background-color: #1e213600;
}

.acc-label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    width: 1em;
	margin-left: 16px;
    height: 1em;
    text-align: center;
    transition: all 0.4s ease;
}

.acc-content {
    max-height: 0;
    color: aliceblue;
    background-color: #1e213600;
    transition: all 0.4s ease;
}

.acc-content ul li a {
	font-size: 15px!important;
	color: #3cc88f!important;
	text-decoration: underline!important;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input:checked+.acc-label::after {
    transform: rotate(-90deg);
}

input:checked~.acc-content {
    max-height: 100vh;
	padding-bottom: 1em;
}


/* Accordion on lanostra index 3 */

#accordion-content .transition, ul li i:before, ul li i:after, p {
    transition: all 0.25s ease-in-out;
  }
  
  #accordion-content .flipIn, ul li, h1 {
    animation: flipdown 0.5s ease both;
  }
  
  #accordion-content .no-select, h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  /* @media (max-width: 550px) {
    body {
      box-sizing: border-box;
      transform: translate(0, 0);
      max-width: 100%;
      min-height: 100%;
      margin: 0;
      left: 0;
    }
  } */
  
  
  #accordion-content h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  
  #accordion-content h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
  }
  
  #accordion-content p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }
  
  #accordion-content ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  #accordion-content ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
  }
  #accordion-content ul li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  #accordion-content ul li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  #accordion-content ul li:nth-of-type(3) {
    animation-delay: 1s;
  }
  #accordion-content ul li:last-of-type {
    padding-bottom: 0;
  }
  #accordion-content ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
  #accordion-content ul li i:before, 
  #accordion-content ul li i:after {
    content: "";
    position: absolute;
    background-color: #25283a;
    width: 6px;
    height: 12px;
  }
  #accordion-content ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
   ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  #accordion-content ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  #accordion-content ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  #accordion-content ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  #accordion-content ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

