.cart-section {
    padding: 30px 0px !important;
}
.mission-vision {
    padding: 52px 0px 0px !important;
}
.news-block .inner-box .date{
    top: -13px !important;
}

.main-footer .news-widget .news-post{
	position:relative;
	padding-left:0px!important;
	min-height:70px;
	margin-bottom:25px;	
}
.causes-section {
	padding: 121px 0px 0px 0px !important;
}
.parallax {
	position: fixed;
}

.event-block-two .title-column .inner{
	position:relative;
	display:block;
	padding-left:0px;
	padding-top:0px;
	min-height:160px;
}

.upcoming-events {
    position: relative;
    padding: 71px 0px;
    background-color: #edf1f5;
    overflow: hidden;
}

.event-block-two .title-column h3 a {
    color: #3cc88f!important;
	cursor: alias !important ;
}
.event-block-two .title-column h3 {
    font-size: 24px;
    color: #3cc88f!important;
    line-height: 1.2em;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px #1e2136;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:active {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: #3e8e41;
  }

/*kjhjkl;*/
.accordions {
    border-radius: 8px;
    overflow: hidden;
    font-size: 1.2em;
}

.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
}

.acc-label {
    /* display: flex; */
    /* justify-content: space-between; */
    padding-bottom: 10px;
	font-size: 16px;
    background-color: #1e213600;
    font-weight: 500;
    cursor: pointer;
}

/* .accordion:first-child {
    border-bottom: 1px solid;
} */

.acc-label:hover {
    background-color: #1e213600;
}

.acc-label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    width: 1em;
	margin-left: 16px;
    height: 1em;
    text-align: center;
    transition: all 0.4s ease;
}

.acc-content {
    max-height: 0;
    color: aliceblue;
    background-color: #1e213600;
    transition: all 0.4s ease;
}

.acc-content ul li a {
	font-size: 15px!important;
	color: #3cc88f!important;
	text-decoration: underline!important;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input:checked+.acc-label::after {
    transform: rotate(-90deg);
}

input:checked~.acc-content {
    max-height: 100vh;
	padding-bottom: 1em;
}
  

