   <!--Causes Section-->
    <section class="causes-section">
        <div class="auto-container">
        
        	<div class="sec-title centered">
                {# <div class="sub-title">Our Causes</div> #}
                <h2>LA NOSTRA ASSOCIAZIONE</h2>
                <div class="text">Associazione Diabetici della Provincia di Brescia</div>
            </div>
                        
        	<div class="row clearfix">
            
             <!--Cause Block-->
                <div class="cause-block col-lg-6 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                            <div class="text">L’Associazione Diabetici della Provincia di Brescia (A.D.P.B.), fondata a Brescia negli anni 70’,
                             si occupa dei pazienti diabetici che anche nella nostra provincia sono in progressiva crescita, con 75.300 malati diagnosticati 
                             (con una prevalenza del 6,2 per cento nella popolazione) e una quota aggiuntiva di persone che non sa ancora di esserne affetta; 
                            per ogni 3 persone con diabete ne esiste una che non sa di averlo.L’Associazione con le sue 10 sezione sparse su tutto il 
                            territorio della provincia bresciana è sicuramente il punto di riferimento delle persone diabetiche e loro famigliari e 
                            collabora con tutte le diabetologie di Brescia e provincia, rapportandosi con le Istituzioni per la tutela e per avere cure 
                            migliori e di ultima generazione.</div>
                            <div class="link-box"><a href="{{ base_url }}/la-nostra-associazione/la-mission-dellassociazione" class="theme-btn btn-style-two"><span class="btn-title">Leggi di più</span></a></div>
                        </div>
                    </div>
                </div>
                
                
                <!--Cause Block-->
                <div class="cause-block col-lg-6 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                            <div class="text">L’Associazione Diabetici della Provincia di Brescia (A.D.P.B.), fondata a Brescia negli anni 70’,
                             si occupa dei pazienti diabetici che anche nella nostra provincia sono in progressiva crescita, con 75.300 malati diagnosticati 
                             (con una prevalenza del 6,2 per cento nella popolazione) e una quota aggiuntiva di persone che non sa ancora di esserne affetta; 
                            per ogni 3 persone con diabete ne esiste una che non sa di averlo.L’Associazione con le sue 10 sezione sparse su tutto il 
                            territorio della provincia bresciana è sicuramente il punto di riferimento delle persone diabetiche e loro famigliari e 
                            collabora con tutte le diabetologie di Brescia e provincia, rapportandosi con le Istituzioni per la tutela e per avere cure 
                            migliori e di ultima generazione.</div>
                            <div class="link-box"><a href="{{ base_url }}/la-nostra-associazione/la-mission-dellassociazione" class="theme-btn btn-style-two"><span class="btn-title">Leggi di più</span></a></div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </section>
    