 <section class="upcoming-events" style="padding-top: 31px;">
        <div class="circle-three"></div>
        <div class="circle-four"></div>
        
        <div class="auto-container">
        
        	<div class="sec-title centered">
                <h2>LE SEZIONI BRESCIA E PROVINCIA</h2>
            </div>
            
            <div id="accordion-content" class="events-box wow fadeInUp" data-wow-delay="0ms">
            	
                <!--Event Block-->
            	<div class="event-block-two">
                    <div class="inner-box">
                    	<div class="row clearfix">
                            <div class="title-column col-lg-12 col-md-12 col-sm-12">
                            	<div class="inner">
                                  <ul>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sede di Brescia</h4>
                                      <div class="accordion-inner-content">
                                        <div class="row clearfix">
                                          <div class="cause-block col-lg-6 col-md-6 col-sm-12">
                	                         <div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	                           {# <div class="image-box">
                        	                      <figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                                                   </div> #}
                                              <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                                              
                                                <div class="text"><strong><h3>Edelweiss Ceccardi</h3></strong></div> 
                                                   <p>Presidente</p>      
                                                </div>
                                                </div>
                                            </div>                                              
                                        <div class="cause-block col-lg-6 col-md-6 col-sm-12">
                	                         <div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	                           {# <div class="image-box">
                        	                      <figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                                                   </div> #}
                                              <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                                              
                                                <div class="text"><strong><h3>Luisella Rossi</h3></strong></div> 
                                                   <p>Vice Presidente</p>                
                                                </div>
                                                </div>
                                            </div>  
                                      </div>                                      
                                  </div>    
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sezione Berlingo</h4>
                                        <div class="accordion-inner-content">
                                          <p>Referente</p>
                                          <p>Magoni Giandomenico</p>
                                          <p>cell: 333 9131325</p>
                                        </div>    
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sezione Chiari</h4>
                                       <div class="accordion-inner-content">
                                          <p>Referente</p>
                                          <p>Uberti Maria Luisa</p>
                                          <p>cell: 340 5682667</p>
                                        </div>    
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sezione Sabbio Chiese</h4>
                                        <div class="accordion-inner-content">
                                          <p>Referente</p>
                                          <p>Uberti Maria Luisa</p>
                                          <p>cell: 340 5682667</p>
                                        </div>    
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sezione Gavardo e Salò</h4>
                                        <div class="accordion-inner-content">
                                          <p>Referente</p>
                                          <p>Amato Renato</p>
                                          <p>cell: 338 7887124</p>
                                        </div>    
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sezione Gardone V.T.</h4>
                                        <div class="accordion-inner-content">
                                        <div class="row clearfix">
                                          <div class="cause-block col-lg-6 col-md-6 col-sm-12">
                	                         <div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	                           {# <div class="image-box">
                        	                      <figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                                                   </div> #}
                                              <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                                              
                                                <div class="text"><strong><h3>Efrem Panelli</h3></strong></div> 
                                                   <p>Referente della Sezione Valle Trompia</p>                                             
                                                </div>
                                                </div>
                                            </div>                                              
                                        <div class="cause-block col-lg-6 col-md-6 col-sm-12">
                	                         <div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	                           {# <div class="image-box">
                        	                      <figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                                                   </div> #}
                                              <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                                              
                                                <div class="text"><strong><h3>Fausta Bertazzoli</h3></strong></div> 
                                                   <p>Consigliere Direttivo Associazione Diabetici Della Provincia Di Brescia Consigliere della Sezione Valle Trompia</p>                                                              
                                                </div>
                                                </div>
                                            </div>  
                                      </div>                                      
                                  </div>    
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sez. Leno</h4>
                                         <div class="accordion-inner-content">
                                          <p>Referente Sezione Leno</p>
                                          <p>Angelo Venturini</p>
                                          {# <p>cell: 338 7887124</p> #}
                                        </div>    
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sez. Palazzolo sull'Oglio</h4>
                                        <div class="accordion-inner-content">
                                          <p>Referente</p>
                                          <p>Giuseppe Fra</p>
                                          <p>cell: 339 7624180</p>
                                        </div> 
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sez. Montichiari Fernanda Nizzola</h4>
                                         <div class="accordion-inner-content">
                                          <p>Referente Sezione Montichiari</p>
                                          <p>Renato Perillo</p>
                                          <p>cell: 339 7624180</p>
                                        </div> 
                                    </li>
                                    <li>
                                      <input type="checkbox" checked>
                                        <i></i>
                                        <h4>Sez. Ome</h4>
                                        <div class="accordion-inner-content">
                                          <p>Referente Sezione Montichiari</p>
                                          <p>Campana Marisa</p>
                                          <p>cell: 388 6957258</p>
                                        </div> 
                                    </li>
                                  
                                </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>