{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}

<!-- Page Banner Section -->
<section class="page-banner">
    <div class="image-layer lazy-image" data-bg="url('images/background/bg-banner-1.jpg')"></div>
    <div class="bottom-rotten-curve alternate"></div>

    <div class="auto-container">
        <h1>{{page.header.title}}</h1>
        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
    </div>

</section>
<!--End Banner Section -->