<div class="news-block col-lg-6 col-md-6 col-sm-12">
    <div class="inner-box">
    
        {% set image = page.media.images|first %}
        {% if image %}
        <div class="image-box">
            <figure class="image">
                <a href="{{ page.url }}">
                    {{ image.cropZoom(800,400).html|raw }}
                </a>
            </figure>
        </div>
        {% endif %}
        <div class="lower-content">
            {% include 'partials/blog/date.html.twig' %}
            {% include 'partials/blog/title.html.twig' with {title_level: 'h3'} %}
       
            <div class="text">
                {% if page.summary != page.content %}
                    {{ page.summary|raw }}
                {% else %}
                    {{ page.content|raw }}
                {% endif %}
            </div>

            <div class="post-meta">
                {% include 'partials/blog/taxonomy.html.twig' %}
            </div>
        </div>
    </div>
</div>

