<!--Upcoming Events Section-->
    <section class="upcoming-events">
        <div class="circle-three"></div>
        <div class="circle-four"></div>
        
        <div class="auto-container">
        
        	<div class="sec-title centered">
                <h2>IL NOSTRO CONSIGLIO</h2>
            </div>
            
            <div class="events-box wow fadeInUp" data-wow-delay="0ms">
            	
                <!--Event Block-->
            	<div class="event-block-two">
                    <div class="inner-box">
                    	<div class="row clearfix">
                            <div class="title-column col-lg-12 col-md-12 col-sm-12">
                            	<div class="inner">
                                    <div class="image-box"><a href="#"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/event-image-2.jpg" alt=""></a></div>
                                    <div class="title"><h3><a href="event-single.html">Il Consiglio Direttivo 2019-2022 risulta così costituito:</a></h3></div>
                                    <br>
                                    <p>
                                      Consulente sanitaria <br>
                                      Angela Girelli è responsabile della Diabetologgia degli Spedali Civili di Brescia.  
                                      Si interessa anche della formazione del paziente, della gestione della cura e della gestione dei percorsi clinici e formativi 
                                      relativi alla terapia con microinfusore.Fa parte del Gruppo di  coordinamento GISED ed è stata, giovanissima, vicepresidente della AMD lombarda.
                                       Ha collaborato al volume Assistenza diabetologica in Italia.   Outcomes e modelli organizzativi edito da Franco Angeli nel 2002.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>