 <section class="mission-vision">
    	<div class="circle-one"></div>
        <div class="circle-two"></div>
        
        <div class="auto-container">
        
        	<div class="mission">
            	<div class="row clearfix">
                	<div class="text-column col-lg-6 col-md-12 col-sm-12">
                    	<div class="inner">
                            <div class="sec-title">
                                <h3>La sede e le nostre sezioni in provincia</h3>
                                <div class="sub-title">Associazione Diabetici della Provincia di Brescia:</div>
                                <div class="text">
                                    <ul>
                                        <li style="list-style: decimal;">Brescia</li>
                                        <li style="list-style: decimal;">Sezione di Leno</li>
                                        <li style="list-style: decimal;">Sezione di Montichiari</li>
                                        <li style="list-style: decimal;">Sezione di&nbsp; Palazzolo</li>
                                        <li style="list-style: decimal;">Sezione di Gardone Val Trompia</li>
                                        <li style="list-style: decimal;">Sezione di Gavardo Sal&ograve;</li>
                                        <li style="list-style: decimal;">Sezione di Ome</li>
                                        <li style="list-style: decimal;">Sezione di Berlingo</li>
                                        <li style="list-style: decimal;">Sezione di Chiari</li>
                                    </ul>
                                </div>
                                <div class="link-box"><a href="tel:0303700039" class="theme-btn btn-style-one"><span class="btn-title">Contattaci</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-column col-lg-6 col-md-12 col-sm-12">
                    	<div class="inner">
                            <div class="sec-title">
                                <div class="sub-title">SENSIBILIZZAZIONE DELLA POPOLAZIONE</div>
                                <h3>Per sostenere l’Associazione é aperto il tesseramento per l’anno 2020: 15 euro annuali.</h3>
                                <div class="text">
                                    <ul>
                                        <li style="list-style: disc;">Giornata Mondiale del Diabete.</li>
                                        <li style="list-style: disc;">Assemblea Annuale 2020 che si tiene il 4 aprile presso l&rsquo;aula E del&rsquo;Universit&agrave; di Brescia, facolt&agrave; di Medicina.</li>
                                        <li style="list-style: disc;">Collaborazioni.con le farmacie della provincia di Brescia.</li>
                                        <li style="list-style: disc;">Progetti nelle scuole che hanno come obiettivi l&rsquo;educazione sanitaria , alimentare,stili di vita,in collaborazione con il personale medico diabetologico , con psicologici e dietisti.</li>
                                        <li style="list-style: disc;">Eventi di formazione e informazione di prevenzione.</li>
                                    </ul>
                                </div>
                                <h3>Informazione</h3>
                                <div class="text">Il nostro giornalino “Io, Noi e il Diabete: La voce del diabetico” è stampato con due uscite l’anno (giugno – dicembre) con i temi che più ci hanno toccato.
                                <br></br>Il sito web www.associazionediabeticibrescia.it</div>
                                <h3>Alcuni Progetti</h3>
                                <div class="text">
                                    <ul>
                                        <li style="list-style: disc;">Corso residenziale per diabetici giovani ed adulti a San Felice del Benaco.</li>
                                        <li style="list-style: disc;">Un concorso a premi, nelle scuole superior,i con un tema scelto sulla patologia diabetica, con finalit&agrave; di conoscenza, sensibilizzazione e prevenzione della patologia.</li>
                                        <li style="list-style: disc;">Progetti nelle scuole primarie in collaborazione con la Coldiretti su &ldquo;Diabete e alimentazione&rdquo;.</li>
                                        <li style="list-style: disc;">Coinvolgimento di personale medico e volontario del territorio per apertura di nuove sezioni</li>
                                        <li style="list-style: disc;">Eventi sportivi.</li>
                                        <li style="list-style: disc;">Serate di sensibilizzazione della popolazione du &ldquo;Diabete e stili di vita&rdquo;.</li>
                                        <li style="list-style: disc;">Percorsi di attivit&agrave; fisica utile al paziente diabetico.</li>
                                        <li style="list-style: disc;">Viaggi ed uscite accompagnati da medici diabetologi e da dietisti e personale sanitario.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>