 <!--Call To Action Section-->
    <section class="call-to-action">
        
        <!--Image Layer-->
        <div class="image-layer lazy-image" data-bg="url('images/background/call-to-action-1.jpg')"></div>
        
        <div class="auto-container">
            <div class="inner">
                <div class="sec-title centered">
                    <h2>ASSOCIAZIONE DIABETICI DELLA PROVINCIA DI BRESCIA</h2>
                    {# <div class="text">Your donation will help us save and improve lives with research, education and emergency care.</div> #}
                    <div class="link-box clearfix"><a href="{{ base_url }}/la-nostra-associazione/le-nostre-sezioni" class="theme-btn btn-style-one"><span class="btn-title">Le nostre sezioni</span></a></div>
                </div>
            </div>
        </div>
    </section>