<!-- Page Banner Section -->
    <section class="page-banner" style="margin-bottom: 3rem;" >
        <div class="image-layer lazy-image" data-bg="url('images/background/bg-banner-1.jpg')"></div>
        <div class="bottom-rotten-curve"></div>

        <div class="auto-container">
            <h1>Io Noi E Il Diabete - La Voce Del Diabetico</h1>
            <div class="text">Periodico dell'Associazione Diabetici della Provincia di Brescia </div>
            <ul class="bread-crumb clearfix">
                <li><a href="{{base_url}}">Home</a></li>
                <li class="active">Giornalino</li>
            </ul>
        </div>

    </section>
    <!--End Banner Section -->