

<!-- Banner Section -->
<section class="banner-section">
	<div class="banner-carousel love-carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
		<!-- Slide Item -->
		<div class="slide-item">
			<div class="image-layer lazy-image" data-bg="url('{{url('theme://images/main-slider/1.jpg')}}')"></div>

			<div class="auto-container">
				<div class="content-box">
					<h2>Associazione Diabetici   <br>della Provincia di Brescia </h2>
					<div class="text">Confidiamo nel vostro sostegno!! Ti ricordiamo di segnalare il 5 per mille sul C.F. 98007200177
  </div>
					
					<div class="btn-box"><a href="{{ base_url }}/la-nostra-associazione.html" class="theme-btn btn-style-one"><span class="btn-title">Scopri di più </span></a></div>
				</div>  
			</div>
		</div>

		{# <!-- Slide Item -->
		<div class="slide-item">
			<div class="image-layer lazy-image" data-bg="url('{{url('theme://images/main-slider/2.jpg')}}')"></div>

			<div class="auto-container">
				<div class="content-box">
					<h2>You Can Help  <br>The Poor</h2>
					<div class="text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
					<div class="btn-box"><a href="donate.html" class="theme-btn btn-style-one"><span class="btn-title">Donate Now</span></a></div>
				</div>  
			</div>
		</div>

		<!-- Slide Item -->
		<div class="slide-item">
			<div class="image-layer lazy-image" data-bg="uurl('{{url('theme://images/main-slider/3.jpg')}}')"></div>

			<div class="auto-container">
				<div class="content-box">
					<h2>You Can Help  <br>The Poor</h2>
					<div class="text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
					<div class="btn-box"><a href="donate.html" class="theme-btn btn-style-one"><span class="btn-title">Donate Now</span></a></div>
				</div>  
			</div>
		</div> #}

	</div>
</section>
<!--End Banner Section -->