   <!--Causes Section-->
    <section class="causes-section">
        <div class="auto-container">
                        
        	<div class="row clearfix">
                 <!--Cause Block-->
                 <div class="row mb-70px d-flex flex-grow-1 justify-content-center">
                <div class="cause-block col-lg-3 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                        <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                            <i class="fa fa-download" aria-hidden="true" style="font-size: 33px;margin-bottom: 18px;color:red;"></i>
                           <h3 id="-5-novembre-1977-statuto-http-198-211-122-197-diabetwp-wordpress-wp-content-uploads-2019-11-statuto-pdf-"><a href="http://198.211.122.197/diabetwp/wordpress/wp-content/uploads/2019/11/statuto.pdf">5 novembre 1977 Statuto</a></h3>

                            <div class="link-box"></div>
                        </div>
                    </div>
                </div>

                <div class="cause-block col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 119px;" >
                	<div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                        <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                            <i class="fa fa-download" aria-hidden="true" style="font-size: 33px;margin-bottom: 18px;color:red;"></i>
                          <h3 id="-30-novembre-1977-le-modifiche-statutarie-http-198-211-122-197-diabetwp-wordpress-wp-content-uploads-2019-11-modifiche-statutarie-pdf-"><a href="http://198.211.122.197/diabetwp/wordpress/wp-content/uploads/2019/11/modifiche-statutarie.pdf">30 novembre 1977 Le modifiche Statutarie</a></h3>

                            <div class="link-box"></div>
                        </div>
                    </div>
                </div>

                <div class="cause-block col-lg-3 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                        <div class="lower-content">
                            {# <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3> #}
                            <i class="fa fa-download" aria-hidden="true" style="font-size: 33px;margin-bottom: 18px; color:red;"></i>
                           <h3 id="-27-giugno-2020-nuovo-statuto-adeguato-al-dgs-117-2017-http-www-associazionediabeticibrescia-it-wp-content-uploads-2020-11-atto-signed-pdf-"><a href="http://www.associazionediabeticibrescia.it/wp-content/uploads/2020/11/ATTO-signed.pdf">27 giugno 2020 Nuovo statuto adeguato al Dgs.117/2017</a></h3>

                            <div class="link-box"></div>
                        </div>
                    </div>
                </div>
                </div>
                
                
                
            </div>
            
        </div>
    </section>