  <!--Causes Section-->
    <section class="causes-section">
        <div class="auto-container">
        
        	<div class="sec-title centered">
                <h2>GIORNALINO</h2>
                <div class="sub-title">Io Noi e il Diabete</div>
            </div>
        	<div class="row clearfix">
            
            	<!--Cause Block-->
                <div class="cause-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                        {% block item %}
                            {% for child in collection %}
                                {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                            {% endfor %}

                        {% endblock %}
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-1.jpg" alt=""></a></figure>
                        </div>
                        {# <div class="donate-info">
                            <div class="progress-box">
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="70%"><div class="count-text">70%</div></div>
                                </div>
                            </div>
                            <div class="donation-count clearfix"><span class="raised"><strong>Raised:</strong> $6,000</span> <span class="goal"><strong>Goal:</strong> $8,000</span></div>
                        </div> #}
                        <div class="lower-content">
                            <h3><a href="cause-single.html">Io, Noi e il Diabete- Maggio 2021</a></h3>
                            <div class="date"><span class="fa fa-calendar-alt"></span> Io Noi e il DiabeteBy admin Ottobre 2, 2021</div>
                            <br />
                            <div class="text">Cari lettori, in questo numero abbiamo scelto come immagine di copertina questo paesaggio che allontana 
                            la mente dalla grave emergenza sanitaria ancora in atto. Il lungo periodo di lockdown ci ha obbligato a stare a casa in conatto 
                            solo con i nostri famigliari.
                             Tuttavia il nostro organismo va preservato con sani stili di vita nei…</div>
                            <div class="link-box"><a href="cause-single.html" class="theme-btn btn-style-two"><span class="btn-title">Read More</span></a></div>
                        </div>
                    </div>
                </div>
                
                <!--Cause Block-->
                <div class="cause-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="300ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-2.jpg" alt=""></a></figure>
                        </div>
                        {# <div class="donate-info">
                            <div class="progress-box">
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="70%"><div class="count-text">70%</div></div>
                                </div>
                            </div>
                            <div class="donation-count clearfix"><span class="raised"><strong>Raised:</strong> $6,000</span> <span class="goal"><strong>Goal:</strong> $8,000</span></div>
                        </div> #}
                        <div class="lower-content">
                            <h3><a href="cause-single.html">Io Noi e il Diabete-dicembre 2020</a></h3>
                            <div class="date"><span class="fa fa-calendar-alt"></span>Io Noi e il DiabeteBy LuisellaDicembre 20, 2019</div>
                            <br />
                            <div class="text">io noi il diabete dicembre 2020-Download Cari lettori, in questo numero abbiamo
                             scelto come immagine di copertina Piazza Paolo VI a Brescia, di origine medioevale, cuore della città con le due cattedrali, 
                             il Duomo Vecchio e il Duomo Nuovo. Quest’anno non abbiamo pubblicato 
                            l’edizione estiva a causa della pandemia che non ci ha permesso di…</div>
                            <div class="link-box"><a href="cause-single.html" class="theme-btn btn-style-two"><span class="btn-title">Read More</span></a></div>
                        </div>
                    </div>
                </div>
                
                <!--Cause Block-->
                <div class="cause-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                        </div>
                        <div class="donate-info">
                            <div class="progress-box">
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="70%"><div class="count-text">70%</div></div>
                                </div>
                            </div>
                            <div class="donation-count clearfix"><span class="raised"><strong>Raised:</strong> $6,000</span> <span class="goal"><strong>Goal:</strong> $8,000</span></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="cause-single.html">Io Noi e il Diabete-dicembre 2019</a></h3>
                            <div class="date"><span class="fa fa-calendar-alt"></span>Io Noi e il DiabeteBy LuisellaDicembre 20, 2019</div>
                            <br />
                            <div class="text">Giornata Mondiale 2019</div>
                            <div class="link-box"><a href="cause-single.html" class="theme-btn btn-style-two"><span class="btn-title">Read More</span></a></div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </section>