  <!--Causes Section-->
    <section class="causes-section">
        <div class="auto-container">
        
        	<div class="sec-title centered">
                <div class="sub-title">Our Causes</div>
                <h2>Popular Causes</h2>
                <div class="text">Cupidatat non proident sunt</div>
            </div>
                        
        	<div class="row clearfix">
            
            	<!--Cause Block-->
                <div class="cause-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-1.jpg" alt=""></a></figure>
                        </div>
                        <div class="donate-info">
                            <div class="progress-box">
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="70%"><div class="count-text">70%</div></div>
                                </div>
                            </div>
                            <div class="donation-count clearfix"><span class="raised"><strong>Raised:</strong> $6,000</span> <span class="goal"><strong>Goal:</strong> $8,000</span></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="cause-single.html">Raise Fund <br>for Healthy Food</a></h3>
                            <div class="text">Excepteur sint occaecat cupidatat non proident sunt.</div>
                            <div class="link-box"><a href="cause-single.html" class="theme-btn btn-style-two"><span class="btn-title">Read More</span></a></div>
                        </div>
                    </div>
                </div>
                
                <!--Cause Block-->
                <div class="cause-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="300ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-2.jpg" alt=""></a></figure>
                        </div>
                        <div class="donate-info">
                            <div class="progress-box">
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="70%"><div class="count-text">70%</div></div>
                                </div>
                            </div>
                            <div class="donation-count clearfix"><span class="raised"><strong>Raised:</strong> $6,000</span> <span class="goal"><strong>Goal:</strong> $8,000</span></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="cause-single.html">Education <br>for Poor Children</a></h3>
                            <div class="text">Excepteur sint occaecat cupidatat non proident sunt.</div>
                            <div class="link-box"><a href="cause-single.html" class="theme-btn btn-style-two"><span class="btn-title">Read More</span></a></div>
                        </div>
                    </div>
                </div>
                
                <!--Cause Block-->
                <div class="cause-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="cause-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/cause-image-3.jpg" alt=""></a></figure>
                        </div>
                        <div class="donate-info">
                            <div class="progress-box">
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="70%"><div class="count-text">70%</div></div>
                                </div>
                            </div>
                            <div class="donation-count clearfix"><span class="raised"><strong>Raised:</strong> $6,000</span> <span class="goal"><strong>Goal:</strong> $8,000</span></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="cause-single.html">Promoting The <br>Rights of Children</a></h3>
                            <div class="text">Excepteur sint occaecat cupidatat non proident sunt.</div>
                            <div class="link-box"><a href="cause-single.html" class="theme-btn btn-style-two"><span class="btn-title">Read More</span></a></div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </section>