{% if page.taxonomy.tag %}
<ul class="clearfix tags">
    {% for tag in page.taxonomy.tag %}
        <li><ahref="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}#body-wrapper">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
