{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set event_collection = page.collection('event') %}
{% set event_collection_right = page.collection('event_right') %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set random_articles = taxonomy.findTaxonomy({'category':'blog'})|randomize %}

{% block hero %}
    {% include 'partials/homepage/slider.html.twig' %}
{% endblock %}

{% block content %}
    <section class="container {{ grid_size }}">
        {% include 'partials/homepage/card-content.html.twig' %}
        {% include 'partials/homepage/latest-news.html.twig' %}
    </section>
        {% include 'partials/homepage/our-section.html.twig' %}
    <section class="container {{ grid_size }}">
        <!--Causes Section-->
        <section class="causes-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2>GIORNALINO</h2>
                    <div class="sub-title">Io Noi e il Diabete</div>
                </div>
                <div class="row clearfix">
                {% block item %}
                    {% for child in collection %}
                        {% include 'partials/homepage/blog-list-item-homepage.html.twig' with {blog: page, page: child} %}
                    {% endfor %}
                {% endblock %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}
