{% extends 'partials/base.html.twig' %}


{% block hero %}
    {% include 'partials/slider.html.twig' %}
{% endblock %}

{% block content %}
    <section class="container {{ grid_size }}">
        {# {{ page.content|raw }} #}
        {% include 'partials/card-content.html.twig' %}
        {% include 'partials/latest-news.html.twig' %}
    </section>
        {% include 'partials/our-section.html.twig' %}
    <section class="container {{ grid_size }}">
        {% include 'partials/text-image-card-content.html.twig' %}
    </section>
{% endblock %}
