{% extends 'partials/base.html.twig' %}

{% block hero %}
    {% include 'partials/banner-section.html.twig' %}
{% endblock %}


{% block content %}
    {% if page.header.left_right_text %}
        {% include 'partials/left-right-text.html.twig' %}
    {% endif %}
    {% if page.header.tables %}
        {% include 'partials/table/table.html.twig' %}
    {% endif %}
    {% if page.header.la_nostra_index1 %}
        {% include 'partials/la_nostra.html.twig' %}
    {% endif %}
    {% if page.header.left_right_text_4_lanostra %}
        {% include 'partials/left-right-text-4-lanostra.html.twig' %}
    {% endif %}
    {% if page.header.small_card_la_nostra_statuto %}
        {% include 'partials/small-cards-la-nostra.html.twig' %}
    {% endif %}
    {% if page.header.la_nostra_index3 %}
        {% include 'partials/la-nostra-index3.html.twig' %}
    {% endif %}
    
    {% if page.header.inner_two_column_text %}
        {% include 'partials/two-column-text.html.twig' %}
    {% endif %}
     
    {# <div>
     <p class="centered"> 
           {{ page.content|raw }}
     </p>
</div> #}
{# {% include 'partials/la_nostra.html.twig' %} #}
    {# {{ page.content|raw }} #}
{% endblock %}