<!--End Cart Section-->
<section class="cart-section">
    <div class="auto-container">
        <!--Cart Outer-->
        <div class="cart-outer">
            <div class="table-column">
                <div class="inner-column">
                    <div class="table-outer">
                        <div class="table-box">
                            <table class="cart-table">
                                <thead class="cart-header">
                                    <tr>
                                        <th>Citta</th>
                                        <th>&nbsp;</th>
                                        <th>Indirizzi</th>
                                        <th>Orari</th>
                                        <th>Contatti</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                {% for table in page.header.tables %}
                                    <tr>
                                        <td colspan="2" class="prod-column">
                                            <h4 class="prod-title">{{table.citta}}</h4>
                                        </td>
                                        <td class="price">{{table.indirizzi}}</td>
                                        <td class="price">{{table.orari}}</td>
                                        <td class="price">{{table.contatti}}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Cart Section-->